@includeNamed{'common.templ'}
@declare{'genMethodName'}
@{method.name}(@foreach{param:method.params}@{param.name}@end{','})
@end{}
importedTypes=@{sortTypes(importedTypes)}\n
concrete=@{concrete}\n
type=@{type}\n
ifacePackageName=@{ifacePackageName}\n
ifaceSimpleName=@{ifaceSimpleName}\n
ifaceFQCN=@{ifaceFQCN}\n
@foreach{method:methods}
method.@includeNamed{'genMethodName'}=@{method.returnType}\n
@end{}
referencedTypes=@{sortTypes(referencedTypes)}\n
superTypes=@{sortTypes(superTypes)}\n
concreteSuperType=@{concreteSuperType}\n
abstractSuperTypes=@{sortTypes(abstractSuperTypes)}\n
handlerType=@{handlerType}\n
