@includeNamed{'common.templ'}
type=@{type}\n
generateConverter=@{generateConverter}\n
inheritConverter=@{inheritConverter}\n
publicConverter=@{publicConverter}\n
concrete=@{concrete}\n
isClass=@{isClass}\n
importedTypes=@{sortTypes(importedTypes)}\n
superTypes=@{sortTypes(superTypes)}\n
abstractSuperTypes=@{sortTypes(abstractSuperTypes)}\n
superType=@{superType}\n
hasEmptyConstructor=@{hasEmptyConstructor}\n
hasJsonConstructor=@{hasJsonConstructor}\n
hasToJsonMethod=@{hasToJsonMethod}\n
encodable=@{encodable}\n
decodable=@{decodable}\n
@foreach{property:properties}
property.@{property.name}=@{property.type}\n
@end{}
