.DS_Store
.gradle
.idea
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
target
out
test-output
Scratch.java
ScratchTest.java
test-results
test-tmp
*.class
src/gen
src/tck/asciidoc
